* {
    margin:0;
    padding:0;
}
body{
    /* z-index: 1; */
    background-color: black;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(117, 117, 117);
}

.Nav_Items{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    padding-left:30px ;
    column-gap: 50px;
    list-style: none; 
}

.Nav_Items a{
    color: white;
    width: 100px;
    height: 100px;
    font-size: large;
}

.Nav_Items a:hover{
    color: rgb(0, 0, 0);
    opacity: 0.5;
    transition: 0.4s;
    text-decoration: underline;
}


.nav_logo{
    width: 70px;
    height: 70px;
}

.hero_pic{
    z-index: 1;
    width: 100%;
    height: 500px;
}
.PM{
    color: white;
    background-color: black;
    text-align: center;
    height: 50px;
}
.main{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 500px;
    padding-top: 20px;
}


.box{
    width: 1200px;
    height: 310px;
    border:  white 2px solid ;
    background-color: black;
    border-radius: 10px;
    display: flex;
}

.box input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-left: 400px; 
    border-style: double;
    text-align: center;
    margin-top: 10px;
}
/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
.information{
    background-color: black;
    height: 500px;
}
.information img{
    width: 400px;
    height: 400px;
    float: left;
    margin-left: 30px;
    border-radius: 10px;
}
.information h3{
    color: white;
    text-align: right;
    margin-right: 30px;
}
.information p{
    color: white;
    text-align: right;
    margin-right: 30px;
}
.footer{
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: right;
}


.footer img{
    width: 200px ;
    height: 200px ;
    position: absolute;
    margin-right: 1100px;
}

.float h4{
    margin-right: 30px;
    margin-top: 70px;
}
.about{
    color: white;
    text-decoration: none;
}

.contact_us{
    color: white;
    text-decoration: none;
    margin-left: 80px;
    margin-right: 50px;
}

.ending{
    background-color: black;
    display: flex;
    height: 100px;
    column-gap: 30px;
    align-items: center;
    padding-left: 70px;
}