* {
    margin:0;
    padding:0;
}
body{
    /* z-index: 1; */
    background-color: black;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(117, 117, 117);
}

.Nav_Items{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    padding-left:30px ;
    column-gap: 50px;
    list-style: none; 
}

.Nav_Items a{
    color: white;
    width: 100px;
    height: 100px;
    font-size: large;
}

.Nav_Items a:hover{
    color: rgb(0, 0, 0);
    opacity: 0.5;
    transition: 0.4s;
    text-decoration: underline;
}


.nav_logo{
    width: 70px;
    height: 70px;
}

.hero_pic{
    z-index: 1;
    width: 100%;
    height: 500px;
}

.main{
    display: flex;
    background-color: black;
    height: 1000px;
    justify-content: center;
}

.box{
    align-content: center;
    border: white 2px solid;
    border-radius: 10px;
    width: 900px;
    height: 250px;
    justify-content: right;
}
.box i{
    margin-left: 420px;
}
.box a {
    margin-left: 360px;
    text-decoration: none;
    color: white;
    border: white 2px solid;
    border-radius: 10px;
    padding: 10px;
}
.box h3{
    color: white;
    margin-bottom: 10px;
    margin-left: 410px;
}
.box h4{
    color: white;
    margin-bottom: 10px;
    margin-left: 380px;
}
.box p{
    color: white;
    margin-bottom: 10px;
    margin-left: 370px;
}












.footer{
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: right;
}


.footer img{
    width: 200px ;
    height: 200px ;
    position: absolute;
    margin-right: 1100px;
}

.float h4{
    margin-right: 30px;
    margin-top: 70px;
}
.about{
    color: white;
    text-decoration: none;
}

.contact_us{
    color: white;
    text-decoration: none;
    margin-left: 80px;
    margin-right: 50px;
}

.ending{
    background-color: black;
    display: flex;
    height: 100px;
    column-gap: 30px;
    align-items: center;
    padding-left: 70px;
}