* {
    margin:0;
    padding:0;
}
body{
    /* z-index: 1; */
    background-color: black;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(117, 117, 117);
}

.Nav_Items{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    padding-left:30px ;
    column-gap: 50px;
    list-style: none; 
}

.Nav_Items a{
    color: white;
    width: 100px;
    height: 100px;
    font-size: large;
}

.Nav_Items a:hover{
    color: rgb(0, 0, 0);
    opacity: 0.5;
    transition: 0.4s;
    text-decoration: underline;
}


.nav_logo{
    width: 70px;
    height: 70px;
}

.hero_pic{
    z-index: 1;
    width: 100%;
    height: 500px;
}
.Hero{
    background-color: black;
    display: flex;
    justify-content: center;
}
.Hero h1{
    color: white;
}
.main{
    height: 600px;
    display: grid;
    background-image: url(https://www.jowhareh.com/images/Jowhareh/galleries_3/poster_09050628-f64b-4a25-a1b7-ff456aee821a.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    column-gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.Item_box{
    display: grid;
    width: 280px;
    height: 282px;
    border: white 1px solid;
    border-radius: 10px;
}
.Item_box img{
    width: 280px ;
    height: 128px;
    border-radius: 11px;
}
.Item_box h4{
    color: white;
    text-align: right;
    margin-right: 10px;
}
.Item_box a{
    text-align: center;
    border: red 1px solid;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    margin-left: 110px;
    margin-bottom: 20px;
}
.Item_box p{
    color: white;
    text-align: right;
    margin-right: 10px;
}
.main2{
    background-color: black;
    /* display: flex; */
    height: 200px;
}
.main2 h3{
    color: white;
    text-align: right;
    margin-right: 30px;
}
.main2 img{
    float: left;
    border-radius: 180px;
    width: 150px;
    height: 150px;
}
.main2 p{
    color: white;
    text-align: right;
    margin-right: 30px;
}

.main3{
    background-color: black;
    /* display: flex; */
    height: 220px;
}
.main3 h3{
    color: white;
    text-align: right;
    margin-right: 30px;
}
.main3 img{
    float: right;
    border-radius: 180px;
    width: 150px;
    height: 150px;
}
.main3 p{
    color: white;
    text-align: right;
    margin-right: 30px;
}
.main4{
    background-color: black;
    /* display: flex; */
    height: 250px;
}
.main4 h3{
    color: white;
    text-align: right;
    margin-right: 30px;
}
.main4 p{
    color: white;
    text-align: right;
    margin-right: 30px;
}



.footer{
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: right;
}


.footer img{
    width: 200px ;
    height: 200px ;
    position: absolute;
    margin-right: 1100px;
}

.float h4{
    margin-right: 30px;
    margin-top: 70px;
}
.about{
    color: white;
    text-decoration: none;
}

.contact_us{
    color: white;
    text-decoration: none;
    margin-left: 80px;
    margin-right: 50px;
}

.ending{
    background-color: black;
    display: flex;
    height: 100px;
    column-gap: 30px;
    align-items: center;
    padding-left: 70px;
}