<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>About_Us</title>
</head>
<body>
    <header>
        <nav>
            <div class="Nav">
                <ul class="Nav_Items">
                    <li>
                        <i style="color: white;" class="bi bi-person-circle h3"></i><a> ورود  یا ثبت نام</a>
                    </li>
                    <li>
                        <i style="color: white;" class="bi bi-people-fill h3"></i><a> پشتیبانی آنلاین</a>
                    </li>
                </ul>
                <img class="nav_logo" src="Images/default-AnyEraser.png" alt="">
            </div>
        </nav>
        <div class="layer">
            <div class="box">
                <h1>درباره شاما </h1>
                <h2>شاما یعنی تجربه شایسته سفر</h2>
            </div>
        </div>
    </header>
    <section class="main">
        <h2 class="title">آژانس هواپیمایی شاما </h2>
        <p>عازم کجا هستید؟ هیچ فرقی نمی‌کند. این حق شماست که سفری باکیفیت، آسان و مطمئن را تجربه کنید. شاما، به عنوان رتبه یک فروش بلیط سفر در کنار شماست تا تجربه‌ای شایسته از یک سفر به‌یادماندنی را ایجاد کند.
            سفر باید آسان باشد، مطمئن و به‌صرفه؛ و همه اینها در شاما خلاصه شده. از هر کجا به هر کجا، با هواپیما، قطار، اتوبوس یا تور. حتی برای اقامت شایسته در سفرهای خارجی می‌توانید روی هتل‌های شاما حساب کنید</p>
        <hr>
        <p>شاما همسفر حرفه‌ای‌هاست، و این تجربه‌ی حرفه‌ای در همه مراحل سفر همراه شماست. از زمانی که قصد سفرکرده‌اید و نیاز به راهنمایی دارید ، تا خرید بلیط و پشتیبانی 24 ساعته توسط تیم 247 نفره مرکز پشتیبانی. حتی وقتی که برنامه سفرتان تغییر کرده و قصد استرداد بلیط را دارید ما در کنار شما هستیم.
            شاما برندی از هلدینگ پرافتخار توشا (توسعه تجربه شایسته سفر) است، سامانه‌ای که به‌واسطه پشتیبانی و حمایت شما در سکوی اول گردشگری کشور ایستاده. ما به این جایگاه قانع نشده‌ایم و تلاش‌مان برای بهبود لحظه‌ای متوقف نمی‌شود. البته در این مسیر پرپیچ‌و‌خم تنها نیستیم و همسفران شایسته‌ای چون شما دلگرمی اصلی ماست.
            آمارها نشان می‌دهد که بیشتر از 97 درصد از مشتریان، ما را به دیگران توصیه کرده‌اند و سفیر پیام شاما شده‌اند. مطمئن هستیم راه را درست رفته‌ایم، چرا که مورداعتماد شما هستیم</p>
        <hr>
        <h2 class="title">ارزش‌های شاما</h2>
        <p>.شاما یک خانواده بزرگ است؛ خانواده‌ای که در آن روابط افراد بر اساس اعتماد و همکاری متقابل تعریف شده. در بین اعضای این خانواده ارزش‌هایی شکل گرفته تا کار کردن به یک فعالیت لذت‌بخش تبدیل شود</p>
        <hr>
    </section>
    <!-- ...................................................... -->
    <section class="main2">
        <div class="grid-container">
            <div>
                <h3>گفت خنثی و شنود موثر</h3><p>ما در شاما گفته‌های همکاران را بدون پیش‌زمینه می‌شنویم و اهل پیش‌داوری نیستم. ضمن اینکه همیشه منظورمان را واضح و بدون تفسیر بیان می‌کنیم</p>
            </div>
            <div>
                <h3>حرمتِ کلام</h3><p>ما در شاما برای انجام وظایفمان منتظر کلمه‌ها هستیم، نه دستورالعمل و نامه‌ی رسمی؛ درست مثل یک خانواده
                </p>
            </div>
            <div>
                <h3>عاملیت</h3><p>همه‌ی شامایی‌ها خودشان را مسئول انجام دادن و یا انجام ندادن کارهای‌شان می‌دانند و این مسئولیت را در تمام مدت زندگی کاری‌شان پذیرفته‌اند
                </p>
            </div>  
            <div>
                <h3>روابط شبکه‌ای</h3><p>ما در شاما به دنبال برقراری روابط میان فردیِ فراتر از سِمَت، سطح و واحد هستیم تا با تجربه‌ها و تخصص یکدیگر آشنا شویم و سرمایه‌ی اجتماعی شاما را افزایش دهیم
                </p>
            </div>
            <div>
                <h3>تعهد حرفه‌ای</h3><p>ما در شاما به دنبال ارزیابی تعهد در تمامی ابعاد آن بوده و در پی ارزش افزوده‌ی دو طرفه از سمت سازمان و برای سازمان هستیم
                </p>
            </div>
            <div>
                <h3>توانمندسازی</h3><p>ما در شاما به دنبال ارتقای دائمی دانش و مهارت‌ها در ابعاد رفتاری و شغلی، و بهینه‌سازی توانایی‌ها در راستای نیازهای سازمان هستیم
                </p>
            </div>
            <div>
                <h3>توسعه و تعالی</h3><p>ما در شاما به دنبال تسهیل تعالی شاما هستیم؛ تا جایی که زمینه‌ی تعالی واحدهای سازمانی و خود را فراهم کنیم
                </p>
            </div>
            <div>
                <h3>تیم‌سازی بهینه</h3><p>ما در شاما برای ایده‌ی خود به دنبال تیم هستیم، تیمی که با همراهی آن، ایده را عملی و در نهایت به محصول تبدیل کنیم
                </p>
            </div>
            <div>
                <h3>حساسیت و پاسخگویی به نیاز مشتریان و کارکنان</h3><p>ما در شاما شنونده و بیننده‌ی همکاران و مشتریان هستیم تا مطمئن شویم کوچک‌ترین خواسته‌های آن‌ها بی‌جواب نمانده است</p>
            </div>
            <div>
                <h3>ایده و خلق راهکار</h3><p>ما در شاما به دنبال نظرات‌ کسانی هستیم که در مورد آن، تخصص و تجربه دارند و می‌توانند راهی برای رفع مشکلات و یا توسعه‌ی نقاط قوت ارائه کنند
                </p>
            </div>
            <div>
                <h3>روحیه‌ی پیشرویی</h3><p>ما در شاما هیچ‌وقت متوقف نخواهیم شد و همه چیزِ همه چیز را می‌خواهیم
                </p>
            </div>
            <div>
                <h3>رهبری تسهیل‌گرانه</h3><p>رهبران شاما، مدیران و سرپرستانی هستند که از تجارب و حمایت‌هایشان برای تسهیل و پیشبرد شاما استفاده می‌کنند
                </p>
            </div>
            <div>
                <h3>سازمان دوستانه</h3><p>شاما قبیله‌ای‌ست که اعضای آن در جامعه‌ای کار می‌کنند که ملاحظه‌گر و هواخواه آن‌هاست
                </p>
            </div>
            <div>
                <h3>با هم کار کردن</h3><p>ما در شاما کارهایی را که می‌توانیم با هم انجام دهیم، فردی پیش نمی‌بریم و از با هم بودن لذت می‌بریم
                </p>
            </div>
            <div>
                <h3>مربی‌گری</h3><p>رهبران شاما اعضای تیم‌شان را برای انجام وظایف رشد داده و بستر این رشد را فراهم می‌کنند
                </p>
            </div>
        </div>
        <hr>
    </section>
    <section class="footer">
        <img src="Images/default-AnyEraser.png" alt="">
        <div class="float">
            <h4 style="color: white;">تلفن پشتیبانی:09140000000</h4>
            <a class="about" href="">درباره ما</a>
            <a class="contact_us" href="">تماس با ما</a>
        </div>
    </section>
    <div class="ending">
        <i style="color: white;" class="bi bi-instagram h3"></i>
        <i style="color: white;" class="bi bi-telegram h3"></i>
        <i style="color: white;" class="bi bi-twitter-x h3"></i>
        <i style="color: white;" class="bi bi-youtube h3"></i>
        <hr>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>