<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Shama_air</title>
</head>
<body>
    <header>
        <nav>
            <div class="Nav">
                <ul class="Nav_Items">
                    <li>
                        <i style="color: white;" class="bi bi-person-circle h3"></i><a> ورود  یا ثبت نام</a>
                    </li>
                    <li>
                        <i style="color: white;" class="bi bi-people-fill h3"></i><a> پشتیبانی آنلاین</a>
                    </li>
                </ul>
                <img class="nav_logo" src="Images/default-AnyEraser.png" alt="">
            </div>
        </nav>
        <div class="Hero">
            <img class="hero_pic" src="Images/cover.png" alt="">
        </div>
    </header>

    <section class="main_section">
        <div class="vehicle">
            <ul class="vehicle_items">
                <li><a href="">اوتوبوس</a><i style="color: white;" class="bi bi-bus-front h3"></i></li>
            </ul>
            <hr style="color: rgb(117, 117, 117);">
        </div>
    </section>
    <section class="continue">
        <div class="BOOOX">
            <form  action="">
                <input class="textt" placeholder="مبدا" type="text">
                <hr style="color: black;">
                <input class="textt" placeholder="مقصد" type="text">
                <hr style="color:black;">
                <input class="textt" placeholder="تاریخ حرکت" type="text">
                <hr style="color: black;">
                <input class="search" value="جستجو" type="submit">
            </form>
        </div>
    </section>
    <div class="PM">
        <h3>سایر خدمات شاما </h3>
    </div>
    <section class="second_section">
        <div class="Other_Options">
            <ul class="Other_Nav">
                <li><a>بیمه مسافرتی</a><i class="bi bi-check2-all"></i></li>
                <li><a>ویزای سفر</a><i class="bi bi-book-half"></i></li>
                <li><a>Coming Soon!!</a><i class="bi bi-backpack3"></i></li>
            </ul>
        </div>
    </section>
    <div class="PM2">
        <h3> پرسش های شما </h3><i style="color: wheat;" class="bi bi-patch-question h1"></i>
    </div>
    <section class="Questions ">
        <div class="det">
            <details>
                <summary>چند روز قبل از پرواز، بلیط هواپیما را بخریم؟</summary><p>امکان رزرو بلیط هواپیما از ماه‌ها قبل وجود دارد. اما گاهی اوقات قیمت بلیط هواپیما در روزهای نزدیک به پرواز ارزان‌تر می‌شود. بنابراین در صورتی که شرایطتان اجازه می‌دهد، رزرو آنلاین بلیط هواپیما را به روزهای نزدیک پرواز موکول کنید. البته اگر قصد سفر در ایام پرسفر نظیر تعطیلات را دارید، باید هر چه زودتر رزرو بلیط هواپیما را انجام دهید.
                </p>
            </details>
            <hr>
            <details>
                <summary>در هر پرواز، میزان بار مجاز چقدر است؟</summary><p>میزان مجاز بار به کلاس پرواز و کلاس نرخی بلیط بستگی دارد. هنگام خرید آنلاین بلیط هواپیما می‌توانید میزان بار مجاز را در اطلاعات بلیط ببینید. طبیعی است که اگر میزان بارتان بیش از حد مجاز باشد، باید جریمه پرداخت کنید.
                </p>
            </details>
            <hr>
            <details>
                <summary>نرخ بلیط هواپیما برای نوزادان و کودکان زیر ۱۲ سال چگونه است؟</summary><p>نرخ بلیط کودکان و نوزادان به کلاس پرواز و کلاس نرخی بستگی دارد. به صورت کلی، قیمت بلیط مسافر کودک (2 الی 12 سال) معادل 50 الی 100 درصد بلیط بزرگسال، و قیمت بلیط مسافر نوزاد (تا دو سال) 10 درصد بلیط بزرگسال است. هنگام تهیه بلیط هواپیما به این نکته توجه داشته باشید.
                </p>
            </details>
            <hr>
            <details>
                <summary>رزرو آنلاین بلیط هواپیما هزینه بیشتری از خرید حضوری دارد؟</summary><p>خیر؛ زمانی که از یک سایت معتبر خرید بلیط هواپیما، اقدام به خرید می‌کنید، نه تنها هزینه بیشتری پرداخت نمی‌کنید، حتی ممکن است تخفیف هم بگیرید. ضمنا با خرید آنلاین بلیط هواپیما از پشتیبانی نیز برخودار هستید.</p>
            </details>
            <hr>
            <details>
                <summary>آیا پس از خرید اینترنتی بلیط هواپیما امکان استرداد آن وجود دارد؟</summary><p>وقتی از شاما یعنی بهترین سایت خرید بلیط هواپیما ، بلیطتان را رزرو می‌کنید، خیالتان آسوده است که امکان استرداد وجه در صورت کنسل کردن بلیط وجود دارد. میزان جریمه را هم هنگام رزرو آنلاین بلیط هواپیما در قسمت قوانین استرداد بخوانید. میزان جریمه به نوع بلیط، کلاس پروازی، کلاس نرخی و... بستگی دارد.
                </p>
            </details>
            <hr>
            <details>
                <summary>آیا پس از خرید بلیط هواپیما، امکان تغییر نام یا نام خانوادگی وجود دارد؟</summary><p>در پرواز داخلی یا خارجی، امکان تغییر نام و نام خانوادگی در بلیط سیستمی وجود ندارد. اما در بلیط چارتر، برخی از چارترکننده‌ها این تغییر را می‌پذیرند.</p>
            </details>
            <hr>
            <details>
                <summary>هنگامی که از سایت خرید بلیط هواپیما رزرو بلیط را انجام می‌دهیم، امکان انتخاب صندلی مورد نظرمان وجود دارد؟</summary><p>خیر؛ هنگام رزرو بلیط هواپیما داخلی یا خارجی امکان انتخاب صندلی وجود ندارد. البته در زمان چک‌این انتخاب محدوده صندلی امکان‌پذیر است.
                </p>
            </details>
            <hr>
        </div>
    </section>
    <div class="PM3">
        <h3> :بلیط هواپیما </h3>
    </div>
    <section class="blog">
        <h4>.شاما بزرگترین و معتبرترین سایت خرید اینترنتی بلیط هواپیما ، قطار و اتوبوس در کشور است که از سال ۱۳۹۳ کار خود را شروع کرده و در این مدت توانسته رضایت درصد قابل توجهی از کاربران را به دست بیاورد. در ابتدا، فروش بلیط پرواز داخلی در دستور کار شاما قرار داشت؛ اما به مرور امکان خرید سایر محصولات گردشگری نیز به شاما اضافه شد</h4>
        <img src="https://manaslo.com/wp-content/uploads/2017/02/travel-manaslo.jpg" alt="">
        <h3>:مزایای خرید بلیط هواپیما از شاما</h3>
        <h4>شما با خرید بلیط هواپیما از شاما با سامانه مطمئن و معتبری روبه‌رو هستید که تمام نیازهایتان را پاسخ می‌دهد. برای خرید آنلاین بلیط هواپیما در شاما کافیست مبدا، مقصد و تاریخ پرواز خود را انتخاب کنید. پس از کلیک روی جستجو، لیست قیمت بلیط هواپیما به مقصد مورد نظر شما ظاهر می‌شود. در این لیست، انتخابهای متعددی پیش روی شماست. برای اینکه گزینه‌ ها را برای خرید بلیط هواپیما محدودتر کنید، شاما ابزارهای مختلفی در اختیار شما می‌گذارد.

            یکی از ابزارهای بسیار مفید و کاربردی برای خرید اینترنتی بلیط هواپیما، تقویم قیمتی است. با استفاده از تقویم قیمتی شما می‌توانید کمترین و بیشترین قیمت بلیط پرواز را در روزهای قبل و بعد از آن تاریخ مشاهده کنید. در صورتی که اصرار به خرید بلیط هواپیما در یک روز خاص نداشته باشید، این امکان به شما کمک می‌کند تا مبلغ بلیط هواپیما برایتان با مبلغ به صرفه تری تمام شود.
            
            علاوه بر این، با استفاده از فیلترهای کنار صفحه می‌توانید ایرلاین مورد نظرتان را انتخاب کنید. ضمنا می‌توانید، بلیط چارتر هواپیما یا سیستمی را فعال کنید تا فقط یکی از این دو نوع بلیط را مشاهده کنید. بلیط هواپیما خارجی ،کلاس پروازی و زمان پرواز هم از دیگر گزینه‌هایی است که با انتخاب آنها، تعداد بلیط ها محدودتر و رزرو بلیط هواپیما برای شما آسانتر می‌شود.
            
            برای پرداخت هزینه می‌توانید از کارت شتاب استفاده کنید. پس از پرداخت، خرید اینترنتی بلیط هواپیما با موفقیت انجام میشود و بلیط به ایمیل شما ارسال میشود. همچنین در همه این مراحل، پشتیبانی شاما در کنار شماست تا هر زمانی که سوال یا مشکلی داشتید، 24 ساعته پاسخگوی شما باشد.</h4>
        <h3>:امکان استرداد بلیط هواپیما</h3>
        <h4>یکی دیگر از امکانات شاما استرداد آنلاین بلیط هواپیما (کنسلی بلیط) است. در صورتی که پس از رزرو بلیط هواپیما برنامه سفرتان تغییر کرده، به راحتی می‌توانید طبق قوانین کنسلی پرواز داخلی، بلیط هواپیمای خود را کنسل کنید. پس از استرداد، پول شما در کمترین زمان ممکن به حسابتان برگردانده می‌شود. شما برای خرید اینترنتی بلیط هواپیما از شاما می‌توانید از تلفن همراه، رایانه شخصی یا تبلت استفاده کنید. شاما در همه این ابزارها کاربرپسند است و شما خریدی آسان را تجربه خواهید کرد. همچنین امکان نصب و استفاده از اپلیکیشن شاما برای گوشی های اندروید و آیفون وجود دارد.</h4>
        <h3>:رزرو بلیط هواپیما از معتبرترین ایرلاین‌ها</h3>
        <h4>شما برای خرید بلیط هواپیما از بین ایرلاینهای مختلف حق انتخاب دارید و می‌توانید از ایرلاینهای ماهان، زاگرس، کیش ایر، قشم ایر، آسمان، کاسپین، تابان، وارش یا معراج، بلیط پرواز داخلی خود را خریداری کنید.

            هر یک از این ایرلاین ها ویژگیها و مشخصات خود را دارند. برخی امکانات و خدمات رفاهی بیشتر دارند و برخی دیگر بلیط هواپیما را با قیمت به صرفه تری ارائه می‌دهند. زمانی که در شاما لیست بلیط تمام این ایرلاین ها را مشاهده می‌کنید، می‌توانید از بین آنها انتخاب کنید.</h4>
        <h3>شاما: رتبه یک خرید اینترنتی بلیط سفر</h3>
        <h4>شاما طی این سالها، اعتبار زیادی نزد مشتریان خود کسب کرده است. طبق نظرسنجی، 97.2 درصد از مشتریان شاما از خدمات این سامانه راضی بوده‌اند و استفاده از آن را به دوستان و آشنایان خود پیشنهاد داده‌اند. سرعت سادگی خرید اینترنتی بلیط هواپیما، اعتبار و خوشنامی، امکان استرداد آنلاین بلیط هواپیما و پشتیبانی 24 ساعته در تمام روزهای هفته، رتبه یک فروش بلیط را از آنِ شاما کرده است.

            شما با رزرو بلیط هواپیما در شاما، از سفری راحت و بی‌دردسر مطمئن خواهید بود.</h4>
            <hr style="color: white;">
    </section>
    <section class="footer">
        <img src="Images/default-AnyEraser.png" alt="">
        <div class="float">
            <h4 style="color: white;">تلفن پشتیبانی:09140000000</h4>
            <a class="about" href="">درباره ما</a>
            <a class="contact_us" href="">تماس با ما</a>
        </div>
    </section>
    <div class="ending">
        <i style="color: white;" class="bi bi-instagram h3"></i>
        <i style="color: white;" class="bi bi-telegram h3"></i>
        <i style="color: white;" class="bi bi-twitter-x h3"></i>
        <i style="color: white;" class="bi bi-youtube h3"></i>
        <hr style="color: white;">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>